PORT=8080
APP_ENV=local
DB_HOST=psql_bp
# DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=banking
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SCHEMA=public

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}
GOOSE_MIGRATION_DIR=./migrations
GOOSE_TABLE=goose_migrations